@model Booklich.Data.Patient

@{
    ViewData["Title"] = "Tạo Mới Hồ Sơ";
}

<h1>Tạo Mới Hồ Sơ</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Họ  (có dấu)*</label>
                <input asp-for="FirstName" class="form-control" placeholder="Ví dụ: Nguyễn Văn Bảo" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Tên (có dấu)*</label>
                <input asp-for="LastName" class="form-control" placeholder="Ví dụ: Nguyễn Văn Bảo" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">Ngày tháng năm sinh*</label>
                <input asp-for="DateOfBirth" class="form-control" type="date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label">Số điện thoại*</label>
                <input asp-for="Phone" class="form-control" placeholder="Nhập số điện thoại" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label">Giới tính*</label>
                <select asp-for="Gender" class="form-control">
                    <option value="">Chọn giới tính</option>
                    <option value="Male">Nam</option>
                    <option value="Female">Nữ</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Địa chỉ Email</label>
                <input asp-for="Email" class="form-control" placeholder="Nhập địa chỉ email để nhận phiếu khám" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AddressPatients" class="control-label">Địa chỉ*</label>
                <input asp-for="AddressPatients" class="form-control" placeholder="Nhập địa chỉ" />
                <span asp-validation-for="AddressPatients" class="text-danger"></span>
            </div>

            <div class="form-group text-right">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>
